extends layout

block content
  h1= title

  - var results = results
  div(class="container-fluid")
    button.btn(class="btn-primary ml-1", onclick="dispatchcreate()") Create
    div(class="row m-1")
      each b, index in results
        .card(style='width: 18rem;')
          div(class="col-sm-2", onclick=`buy(${index})`)
          img.card-img-top(src='/images/bull.jpg' alt='Card image cap')
          .card-body
            h5.card-title Breed: #{b.Breed}
            p.card-text Size: #{b.Dimension}
            p.card-text Price: #{b.value}<br>
            - let destination = `dispatch(\"/dog/update?id=${b._id}\")`
            - let destinationdelete = `dispatch(\"/dog/delete?id=${b._id}\")`
            - let destinationdetail = `dispatch(\"/dog/detail?id=${b._id}\")`
            button.btn(class="btn-primary ml-1", onclick=destination) Update 
            br
            button.btn(class="btn-danger ml-2", onclick=destinationdelete) Delete
            br
            button.btn(class="btn-secondary ml-1", onclick=destinationdetail) Detail
      
  script.
    function buy(a) {
      alert(`You purchased Item ${a+1}`);
    } 

  script.
    function dispatch(path) {
      window.location.href = path;
    }

  script.
    function dispatchcreate() {
      window.location.href = 'dog/create';
    }
  
  script.
    function destinationdetail(path) {
      window.location.href = path;
    }

  script.
    function destinationdelete(path) {
      window.location.href = path;
    }
