extends layout
block content
 h1= title
 - let costumeid = toShow._id
 - let costume_type = toShow.Breed
 - let costumecost = toShow.value
 - let costumesize = toShow.Dimension
 div
 div.row
 div(class='costumeAttr mr-3') Dog ID is:
 div #{costumeid}
 div.row
 div(class='costumeAttr mr-3') Dog Type is:
 div #{costume_type}
 div.row
 div(class='costumeAttr mr-3') Dog Size is:
 div #{costumesize}
 div.row
 div(class='costumeAttr mr-3') Dog Cost is:
 div #{costumecost}