extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to details
 else
  - let dogid = toShow._id
  - let dogbreed = toShow.Breed
  - let dogdimension = toShow.Dimension
  - let dogvalue = toShow.value
  div(class='container-fluid')
  div.row
  div(class='dogAttr mr-3') Dog ID is:
  div #{dogid}
  div.row
  div(class='dogAttr mr-3') Dog Breed is:
  div #{dogbreed}
  div.row
  div(class='dogAttr mr-3') Dog Dimension is:
  div #{dogdimension}
  div.row
  div(class='dogAttr mr-3') Dog Value is:
  div #{dogvalue}